<div class="container">
    <div class="hero">
        <div class="hero-item " style="background:url(data:image/png;base64,{{news.image}} )">
            <!-- [ngStyle]="{ 'background-image': 'url(' + data:image/png;base64,news.image + ')'}" -->
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <aside class="sidebar mt-3">
                <div class="widget pt-3 pb-3 ps-4 pe-4 bg-white">
                    <p class="mb-0 t-u">Poslijednje vijesti</p>
                    <hr class="mt-3 mb-3">
                    <ul class="list-unstyled mb-0 ps-0">
                        <li *ngFor="let newsItem of newsList">
                            <a href="/news/{{newsItem.id}}" class="d-block mt-4 mb-4 l-1">{{newsItem.newsTitle}}</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="col-12 col-md-9"> 
            <div class="bg-white mt-3 p-4">
                <article>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="mb-4">
                                <h1 class="lead mb-0" style="color:darkred; font-weight: bold;">{{news.newsTitle}}</h1>
                                <small class="t-m d-block mt-1">
                                    Objavljeno - {{news.publishedAt | date}}
                                </small>
                            </div>

                        </div>
                    </div>
                    <p>{{news.content}}</p>

                </article>
            </div>
        </div>

    </div>
</div>