<div class="container">
    <div class="row">
        
        <div class="col-12 col-md-12">
            <div class="news-container">
                <ul class="list-unstyled mb-0" *ngFor="let news of newsList;">
                    <li class="media mb-3 bg-white">
                        <div class="row">
                            <div class="col-md-4">
                                <img [src]="news.imageUrl" alt="" style="max-width: 100%;">
    
                            </div>
                            <div class="col-md-8">
                                <div class="media-body px-3 py-1">
                                    <p class="m-0 lead">
                                        <a [routerLink] = "[news.id]">{{news.newsTitle}}</a>
                                    </p>
                                    <small style="font-weight:500;">Datum objave: {{news.publishedAt}}</small>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>