<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        <div class="d-flex align-items-center">
            <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
            <h2 class="fs-2 m-0 fst-italic">Info ploča</h2>
        </div>

       
    </nav>

    <div class="container-fluid px-4 text-center">
        <div class="row g-3 my-2">
            <div class="col-md-6">
                <div class="p-3 bg-dark bg-gradient shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="text-warning">
                        <h3 class="fs-2">{{numberOfUsers}}</h3>
                        <p class="fs-5">Registrovanih korisnika</p>
                    </div>
                    <i class="fas fa-user fs-1 primary-text border-0 rounded-full bg-warning p-3"></i>
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-3 bg-dark bg-gradient shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="text-warning">
                        <h3 class="fs-2">{{numberOfCars}}</h3>
                        <p class="fs-5">Registrovanih rent vozila </p>
                    </div>
                    <i class="fas fa-user fs-1 primary-text border-0 rounded-full bg-warning p-3"></i>
                </div>
            </div>
        </div>

        <div class="row g-3 my-2 text-center">
            <div class="col-md-6">
                <div class="p-3 bg-dark bg-gradient shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="text-warning">
                        <h3 class="fs-2">{{numberOfRents}}</h3>
                        <p class="fs-5">Zahtjeva za rentanje vozila</p>
                    </div>
                    <i class="fas fa-scroll fs-1 primary-text border-0 rounded-full bg-warning p-3"></i>
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-3 bg-dark bg-gradient shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div class="text-warning">
                        <h3 class="fs-2">{{unansweredQuestions}}</h3>
                        <p class="fs-5">Neodgovorenih pitanja</p>
                    </div>
                    <i class="fas fa-question-circle fs-1 primary-text border-0 rounded-full bg-warning p-3"></i>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <h1 id="logo">TAXI PLUS</h1>
        </div>

    </div>