<section class="bg-dark text-light p-5 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Toplu dobrodošlicu vam želi vaš<span class="text-warning"> Taxi Plus </span></h1>
                <p class="lead my-4">
                    Brinemo se za vas. Ugodna i sigurna vožnja te mogućnost rentanja vozila iz našeg asortimana samo su
                    neke od usluga koje nudi vaš Taxi Plus!
                </p>
                <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
                    Start The Enrollment
                </button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="../../assets/Images/taxi-plus-18.jpg" alt="" />
        </div>
    </div>
</section>
<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md d-flex align-self-stretch">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="bi bi-geo-alt-fill mb-3"></i>
                        </div>
                        <h3 class="card-title mb-3 style text-warning">
                            Lokacija
                        </h3>
                        <p class="card-text">
                            Za sve potrebne informacije ili sastanke možete da posjetite našu poslovnicu. Nalazimo se u
                            <span class="text-warning">Bugojnu</span> na adresi
                            <span class="text-warning">Armije RBiH 33.</span>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md d-flex align-self-stretch">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="bi bi-currency-exchange mb-3"></i>
                        </div>
                        <h3 class="card-title mb-3 text-warning">
                            Cjenovnik
                        </h3>
                        <p class="card-text">
                            Cijene usluga naše kompanije su više nego prihvatljive. Startna cijena iznosi <span
                                style="color: orange; font-weight: bold;">1.2KM</span>,
                            a svaki naredni kilometar, dodatnih <span
                                style="color: orange; font-weight: bold;">1KM</span>. 1 sat čekanja iznosi <span
                                style="color: orange; font-weight: bold;">10KM</span>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md d-flex align-self-stretch">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="bi bi-people mb-3"></i>
                        </div>
                        <h3 class="card-title mb-3 text-warning">
                            Pouzdan kadar
                        </h3>
                        <p class="card-text">
                            Iskusni vozači koji će vas brzo i sigurno dovesti do željene destinacije bilo da se radi o
                            lokalnim ili međugradskim.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>