.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(31, 7, 29);
    color: white;
  }
  .custom-day.faded {
    background-color: #004068;
  }

.row{
    border:1px solid lightgray;
    border-radius:10px;
    margin-top: 20px;
}

#wrapper{
  background-color:#004068;
}

.input-group-prepend span{
  min-width: 150px;
}