<div class="container" *ngIf="car">
    <div class="row align-items-center bg-dark text-warning">
        <div class="col-lg-4">
            <img src="data:image/png;base64,{{car.image}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 p-5">
            <h1 class="text-warning">{{car.carName}} <span class="btn-rent" routerLink="/rentcar/{{car.id}}">RENT</span>
            </h1>
            <hr>
            <div id="dw" class="d-flex justify-content-start">
                <div id="dw1" >
                    <p class="car-details text-secondary"><span class="text-danger">Cijena: {{car.pricePerDay}}
                            KM / dan</span> <br> <span>Boja: </span>{{car.color}} <br> <span>Godište: </span>
                        {{car.yearOfManufacturing}}</p>

                </div>
                <div id="dw2" class="ms-4">
                    <p class="car-details text-secondary"><span>Tip goriva:
                            </span>{{car.fuelType}} <br> <span>Proizvođač: </span>{{car.carManufacturer}} <br> <span>Tip vozila: </span>
                        {{car.carType}}</p>

                </div>
            </div>
        </div>

    </div>
</div>