<div class="container" *ngIf="car">
    <div class="row align-items-center bg-dark text-warning">
        <div class="col-lg-4">
            <img src="data:image/png;base64,{{car.image}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 p-5">
            <h1 class="text-warning">{{car.carName}} <span class="btn-rent" routerLink="/rentcar/{{car.id}}">RENT</span></h1>
            <hr>
            <p class="car-details text-secondary"><span class="text-warning">Cijena: {{car.pricePerDay}} BAM</span> <br> <span>Boja: </span>{{car.color}} <br> <span>Godište: </span> {{car.yearOfManufacturing}}</p>
            <p class="text-primary">{{car.details}}</p>
        </div>
        
    </div>
</div>

