<!-- <nav class="navbar navbar-dark bg-dark" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
              </button>
              <a routerLink="/" class="navbar-brand" >TAXI <span style="color: white; background-color: black; font-weight: bold;">PLUS</span></a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav" id="navbarItems">
                <li routerLinkActive="active"><a routerLink="recipes">POČETNA</a></li>
                <li routerLinkActive="active"><a routerLink="shopping-list">INFORMACIJE O KOMPANIJI</a></li>
                <li routerLinkActive="active"><a routerLink="shopping-list">PREGLED VOZILA</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu"> 
                        <li><a style="cursor: pointer;">Save Data</a></li>
                        <li><a style="cursor: pointer;">Fetch Data</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<header class="header navigacija">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TAXI PLUS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>

          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Početna</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Iznajmi vozilo</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Informacije
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/news">Pregled novosti</a></li>
                  <li><a class="dropdown-item" href="#">Cijene usluga međugradskog prevoza</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">Često postavljena pitanja</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                  <button class="btn btn-primary">Prijavi se</button>
                  <button class="btn btn-success" style="background-color: darkgreen;">Registruj se</button>  
            </ul>
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>

</header>