<div class="row">
    <div class="col-md-4">
        <img src="data:image/png;base64,{{Car.image}}" class="img-fluid" alt="">
    </div>
    <div class="col-md-8">
        <h1 class="text-danger">{{Car.carName}} </h1>
        <hr>
        <p class="car-details fst-italic"><span class="text-danger">Cijena po danu:
                {{Car.pricePerDay}} BAM</span> <br>
            <span>Boja: </span>{{color}}
            <br>
            <span>Godina proizvodnje: </span>{{Car.yearOfManufacturing | date:"yyyy"}}
            <br>
            <span>Tip goriva: </span>{{fuelType}}
            <br>
            <span>Proizvođač: </span>{{carManufacturer}}
            <br>
            <span>Tip vozila: </span>{{carType}}
        </p>
        <p class="text-primary">{{Car.details}}</p>
    </div>
</div>
<hr>
<div class="row p-4">
    <p class="text-center fw-bold fst-italic">Lični podaci</p>
    <div class="form-group p-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span
                    class="input-group-text bg-dark bg-gradient text-warning fw-bold text-center"
                    id="">Ime i prezime</span>
            </div>
            <input type="text"
                class="form-control border-success bg-transparent text-center"
                readonly value="{{user.firstName}}">
            <input type="text"
                class="form-control border-success bg-transparent text-center"
                readonly value="{{user.lastName}}">
        </div>
    </div>
    <div class="form-group p-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span
                    class="input-group-text bg-dark bg-gradient text-warning fw-bold text-center"
                    id="">Grad i adresa</span>
            </div>
            <input type="text"
                class="form-control border-success bg-transparent text-center"
                readonly value="{{user.cityName}}">
            <input type="text"
                class="form-control border-success bg-transparent text-center"
                readonly value="{{user.address}}">
        </div>
    </div>
    <div class="form-group p-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span
                    class="input-group-text bg-dark bg-gradient text-warning fw-bold text-center"
                    id="inputGroup-sizing-default">Datum
                    rođenja</span>
            </div>
            <input type="text"
                class="form-control border-success bg-transparent text-center"
                readonly value="{{user.birthDate | date}}">
        </div>
    </div>
    <div class="form-group p-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span
                    class="input-group-text bg-dark bg-gradient text-warning fw-bold text-center"
                    id="inputGroup-sizing-default">Broj
                    telefona</span>
            </div>
            <input type="text"
                class="form-control border-success bg-transparent text-center"
                readonly value="{{user.phoneNumber}}">
        </div>
    </div>
    <div class="form-group p-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend text-center">
                <span class="input-group-text bg-dark bg-gradient text-warning fw-bold "
                    id="inputGroup-sizing-default">Spol</span>
            </div>
            <input type="text"
                class="form-control border-success bg-transparent text-center"
                readonly value="{{user.gender}}">
        </div>
    </div>

</div>
<div class="row">
    <p class="fst-italic fw-bolder">" - Zahtjev za iznajmljivanje vozila je podnesen u periodu od: <span
            class="text-primary">{{rentRequest.rentedFrom | date}}</span>,
        do: <span class="text-primary">{{rentRequest.rentedTo | date}}."</span> <br>
        " - Vozilo će biti iznajmljeno ukupno <span
            class="text-danger fw-bold">{{numberOfDays}}</span> dana." <br>
        " - Ukupna cijena iznajmljivanja vozila iznosi <span
            class="fs-5 text-danger">{{rentRequest.totalPrice}}KM</span>."</p>
</div>
<div class="d-flex justify-content-end">
    <button class="me-3 p-2 btn-danger border-0" (click)="declineRentRequest()" *ngIf="!rentRequest.requestCanceled && !rentRequest.rentApproved else textCanceled">Poništi zahtjev zahtjev</button>
    <ng-template #textCanceled>
        <p *ngIf="rentRequest.rentApproved else rejected" class="text-success">Zahtjev odobren</p>
        <ng-template #rejected>
            <p class="text-danger">Zahtjev odbijen</p>
        </ng-template>
    </ng-template>
</div>
