<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<div class="row">
    <div class="col-sm-2">
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-dark" id="sidebar-wrapper">
                <div
                    class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom text-warning">
                    <i class="fas fa-user-secret me-2"></i>Admin panel</div>
                <div class="list-group list-group-flush my-3">
                    <a href="adminpanel" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                            class="fas fa-tachometer-alt me-2"></i>Info ploča</a>
                    <a href="adminpanel/car-menu"
                        class="list-group-item list-group-item-action bg-transparent text-warning fw-bold"><i
                            class="fas fa-project-diagram me-2"></i>Vozila</a>
                    <a href="adminpanel/news-menu" class="list-group-item list-group-item-action bg-transparent text-warning fw-bold"><i
                            class="fas fa-chart-line me-2"></i>Novosti</a>
                    <a href="adminpanel/question-menu" class="list-group-item list-group-item-action bg-transparent text-warning fw-bold"><i
                            class="fas fa-paperclip me-2"></i>Pregled postavljenih pitanja</a>
                    <a href="#" class="list-group-item list-group-item-action bg-transparent text-warning fw-bold"><i
                            class="fas fa-shopping-cart me-2"></i>Postavljena pitanja</a>
                    <a href="#" class="list-group-item list-group-item-action bg-transparent text-warning fw-bold"><i
                            class="fas fa-gift me-2"></i>Products</a>
                    <a href="#" class="list-group-item list-group-item-action bg-transparent text-warning fw-bold"><i
                            class="fas fa-comment-dots me-2"></i>Chat</a>
                    <a href="#" class="list-group-item list-group-item-action bg-transparent text-warning fw-bold"><i
                            class="fas fa-map-marker-alt me-2"></i>Outlet</a>
                    <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                            class="fas fa-power-off me-2" (click)="LogOut()"></i>Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10 p-3">
            <router-outlet></router-outlet>
    </div>
</div>