<div class="row">
    <div class="col-md-4">
        <img src="{{selectedCar.imageUrl}}" class="img-fluid" alt="">

    </div>
    <div class="col-md-8">
        <h1 class="text-danger">{{selectedCar.carName}} </h1>
            <hr>
            <p class="car-details"><span class="text-danger">Cijena po danu: {{selectedCar.pricePerDay}} BAM</span> <br>
                <span>Boja: </span>{{selectedCar.color}}
                <br>
                <span>Godina proizvodnje: </span>{{selectedCar.yearOfProduction | date:"yyyy"}} <br>
                <span>Tip goriva: </span>{{selectedCar.fuelTypeId}}
            </p>
            <p class="text-primary">{{selectedCar.details}}</p>
    </div>
</div>
<hr>
<div class="row">
<p>Zahtjev za iznajmljivanje vozila u periodu od: {{fromDateTransformed }}, do: test</p>
</div>