<div class="row" *ngIf="role === '1'">

    <div class="col-lg-8">

        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-froup row">
                <label class="col-sm-2 col-form-label" for="newsTitle">Naslov vijesti</label>
                <div class="col-sm-10 text-center">
                    <input type="text" id="newsTitle" class="form-control" [ngModel]="newsTitle" placeholder="Unesite naslov vijesti" name="newsTitle" required #nt="ngModel"><br>
                    <span class="help-block fst-italic fw-light text-danger" *ngIf="nt.invalid && nt.touched">Niste unijeli naslov!</span>
                </div>
            </div>
            <div class="form-froup row">
                <label class="col-sm-2 col-form-label" for="newsTitle">Sadržaj vijesti</label>
                <div class="col-sm-10 text-center">
                    <textarea name="content" id="content" cols="30" rows="10" placeholder="Unesite sadržaj vijesti" [ngModel]="content" class="form-control" required #nc="ngModel"></textarea>
                    <br><span class="help-block fst-italic fw-light text-danger" *ngIf="nc.invalid && nc.touched">Niste unijeli sadržaj!</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Dodaj novost</button>
        </form>

    </div>
    <div class="col-lg-4">
        <div class="modal-body">
            <form>
                <h3>Unesite sliku</h3>
                <div class="form-group m-form__group">
                    <br />
                    <input type="file" (change)="fileChangeEvent($event)" />
                </div>
                <div style="text-align: center; margin-top: 30px;" *ngIf="base64Slika.length !== 0">
                    <h3>Pohrana: </h3>
                    <img src="data:image/png;base64,{{base64Slika}}" style="width:200px;" />
                </div>

            </form>
        </div>
    </div>
</div>