<div class="row" *ngIf="role === '1'">

    <div class="col-lg-7">
        <form #f="ngForm">


            <div class="form-froup row">

                <label class="col-sm-2 col-form-label">Naziv automobila</label>
                <div class="col-sm-10 text-center">
                    <input type="text" class="form-control" [(ngModel)]="carName" placeholder="Naziv automobila"
                        name="carName" #cn="ngModel" required> <br>
                    <span class="help-block fst-italic fw-light text-danger" *ngIf="cn.invalid && cn.touched">Niste
                        unijeli naziv automobila!</span>

                </div>
            </div>
            <div class="form-froup row">

                <label class="col-sm-2 col-form-label">Godina proizvodnje</label>
                <div class="col-sm-10 text-center">
                    <input type="number" class="form-control" name="yearOfManufacturing"
                        [(ngModel)]="yearOfManufacturing" placeholder="Godina proizvodnje" required #yp="ngModel"><br>
                    <span class="help-block fst-italic fw-light text-danger" *ngIf="yp.invalid && yp.touched">Niste
                        unijeli godinu proizvodnje!</span>

                </div>
            </div>

            <div class="form-froup row">

                <label class="col-sm-2 col-form-label">Broj vrata</label>
                <div class="col-sm-10 text-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="3" [(ngModel)]="numberOfDoors">
                        <label class="form-check-label" for="inlineRadio2">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                            value="4" [(ngModel)]="numberOfDoors">
                        <label class="form-check-label" for="inlineRadio3">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                            value="5" [(ngModel)]="numberOfDoors">
                        <label class="form-check-label" for="inlineRadio4">5</label>
                    </div>
                </div>
            </div>

            <div class="form-froup row">
                <label class="col-sm-2 col-form-label">Tip goriva </label>
                <div class="col-sm-10 text-center">
                    <select class="form-control" [(ngModel)]="fuelTypeId" name="fuelTypeId">
                        <option [ngValue]="undefined" disabled>Izaberite tip goriva</option>
                        <option *ngFor="let ft of fuelTypeList" value="{{ft.id}}">{{ft.fuelTypeName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-froup row">
                <label class="col-sm-2 col-form-label">Boja </label>
                <div class="col-sm-10 text-center">
                    <select class="form-control" [(ngModel)]="colorId" name="colorId">
                        <option [ngValue]="undefined" disabled>Izaberite boju</option>
                        <option *ngFor="let c of colorList" value="{{c.id}}">{{c.colorName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-froup row">
                <label class="col-sm-2 col-form-label">Tip automobila
                </label>
                <div class="col-sm-10 text-center">
                    <select class="form-control" [(ngModel)]="carTypeId" name="carTypeId">
                        <option [ngValue]="undefined" disabled>Izaberite tip automobila</option>
                        <option *ngFor="let ct of carTypeList" value="{{ct.id}}">{{ct.typeName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-froup row">

                <label class="col-sm-2 col-form-label">Proizvođač
                </label>
                <div class="col-sm-10 text-center">
                    <select class="form-control" [(ngModel)]="carManufacturerId" name="carManufacturerId">
                        <option [ngValue]="undefined" disabled>Izaberite proizvođača</option>
                        <option *ngFor="let cm of carManufacturerList" value="{{cm.id}}">{{cm.manufacturerName}}
                        </option>
                    </select>
                </div>
            </div>
            <button (click)="addDepartment()" *ngIf="car.id==0" class="btn btn-success"
                [disabled]="f.invalid || carTypeId === undefined || carManufacturerId === undefined || colorId === undefined || fuelTypeId === undefined">
                Dodaj
            </button>

            <button (click)="updateDepartment()" *ngIf="car.id!=0" class="btn btn-warning" [disabled]="f.invalid || carTypeId === undefined || carManufacturerId === undefined || colorId === undefined || fuelTypeId === undefined">
                Izmijeni
            </button>
        </form>

    </div>
    <div class="col-lg-5">
        <div class="modal-body">
            <form>
                <h3>Unesite sliku</h3>
                <div class="form-group m-form__group">
                    <br />
                    <input type="file" (change)="fileChangeEvent($event)" />
                </div>
                <div style="text-align: center; margin-top: 30px;" *ngIf="base64Slika.length !== 0">
                    <h3>Pohrana: </h3>
                    <img src="data:image/png;base64,{{base64Slika}}" style="width:200px;" />
                </div>

            </form>
        </div>

    </div>
</div>