<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Naziv automobila</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="carName"
        placeholder="Naziv automobila">
    </div>
</div>
<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Godina proizvodnje</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="yearOfManufacturing"
        placeholder="Godina proizvodnje">
    </div>
</div>

<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Broj vrata</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="numberOfDoors"
        placeholder="Godina proizvodnje">
    </div>
</div>
<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Cijena po danu</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="pricePerDay"
        placeholder="Godina proizvodnje">
    </div>
</div>

<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Tip goriva</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="fuelTypeId"
        placeholder="Godina proizvodnje">
    </div>
</div>
<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Boja</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="colorId"
        placeholder="Godina proizvodnje">
    </div>
</div>
<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Tip automobila</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="carTypeId"
        placeholder="Godina proizvodnje">
    </div>
</div>
<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Proizvođač
    </label>
    <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="carManufacturerId"
        placeholder="Godina proizvodnje">
    </div>
</div>
<div class="ml-3 bd-highlight" style="width: 40%;">
    <img [src]=PhotoFilePath height="250px;" width="200px;">
    <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
    </div>

<button (click)="addDepartment()" *ngIf="car.id==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateDepartment()" *ngIf="car.id!=0" class="btn btn-primary">
    Update
</button>