
    <app-header (toggleMenuEvent)="setContentPosition()"></app-header>
<div class="test">
  <div [class.move-down]="moveDown" class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  </div>
  <footer>
    <div [class.move-down]="moveDown" class="container">
      <div class="row">
        <div class="col-md-12 text-center p-5">
          <h6>Kontakt telefoni informacija</h6>
          <p style="font-weight: bold;">061/326-520 | 061/458-480</p>
          <hr>
          <p>Copyright © 2021 Taxi Plus Bugojno</p>
        </div>
      </div>
    </div>
  </footer>
